@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-background: #16a34a; /* Default green background */
  --content-padding-top: calc(var(--tg-viewport-content-safe-area-inset-top) + var(--tg-viewport-safe-area-inset-top, 48px));
  --content-padding-top-alternative: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top, 48px));
}

body {
  background: var(--page-background);
  padding: 0;
  margin: 0 auto;
  max-width: 640px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease;
  padding-top: var(--content-padding-top, --content-padding-top-alternative);
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* .page-wrapper {
  padding-top: calc(var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top, 0.5rem));
} */

/* Prevent iOS magnification and selection globally */
html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Specific rules for game elements */
#game, canvas {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}